body
{
    background-color: #1d1d1d;
    font-family: "Plaifare Display",serif;
    color: white;
    overflow-x: hidden;
}
.logo
{
    margin-top: 7px;
}
.nav
{
    font-family: "Plaifare Display",serif;
    display: flex;
    color: white;
    margin-left: 55%;
    margin-top: -2%;
    font-size: 25px;
}
a{
    color: #C7C5C5;
}
a:link
{   
    float: right;
    color: white;
    text-decoration: none;
}
a:hover
{
    color: white;
}
a:active
{
    color: white;
}
.cart
{   
    display: flex;
    margin-top: -2%;
    margin-left: 150px;
    float: right;
}
.product
{
    display : flex;
    justify-content : space-between; 
    margin-top: 10%;
    margin-right : 5%;
}
.product1
{
    display : flex;
    justify-content : space-between; 
    margin-left : 15%;
    margin-right: 7%;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
}
.seemore
{
    color: white;
    font-family: "playfair display",serif;
    padding-top: 10px;
    padding-left: 20px;
    height: 100px;
    width:100px;
}

.seemore_img
{
    position: absolute;
    display : flex;
    padding-left: 10px;
    margin-left : 20%;
    margin-right: 7%;
    margin-top: -100px;

}
.align_img
{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display : flex;
}

.img1:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.icon{
    position: relative;
    height: 0.8em;
    margin-right:10px;
    top: 0px;
    float: right;
    margin-top: 2.5px;
}
button
{   
    width: 120px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
.Social_tab
{
    display: flex;
    justify-content: space-between;    
}
.padding
{
    margin-bottom: -20%;
}

.select
{
    color: white;
}