*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../i/bg\(whistlewood\).jpg) no-repeat;
    /* background: url(../../img/whistlewood.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
}
  
.img1
{
    transform: scale(0.04);
    margin-top: -700px;
    margin-left: -1700px;
    margin-right: 500px;
    color: white;
}
  
.wrapper{
    width: 600px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 12px;
    padding: 50px 50px;
    margin-left: 12%;
    box-shadow: 2px 2px 15px rgb(104, 103, 103);
}

.fonts
{
  transform: scale(1.5);
  font-family: "Playfair display",serif;
  font-weight: 100;
  
}

.wrapper h1
{ 
    font-size: 36px;
    text-align: center;   
}

.wrapper .input-box
{     
    position: relative;     
    width: 100%;     
    height: 50px;          
    margin: 30px 0;   
}

.input-box input
{     
    width: 100%;     
    height: 100%;     
    background: transparent;     
    border: none;     
    outline: none;     
    border: 2px solid rgba(255, 255, 255, .2);     
    border-radius: 40px;     
    font-size: 16px;     
    color: #fff;     
    padding: 20px 45px 20px 20px;   
}

.input-box input::placeholder
{     
    color: white;
    font-family: "Playfair Display",serif ;   
}

.remember-forgot
{
    margin-left: 3%;
}

button
{
    font-family: "Playfair Display",serif ;
    margin-top: 7%;
    margin-left: 43%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: larger;
    cursor: pointer;
}
 
input[type="checkbox"]
{
    transform: scale(1.3);
}